/* Main Bar */
.bar {
  background-color: #bb01bbff;
  width: 100%;
  height: 60px;
  display: flex;
  list-style: none;
  position:fixed; left:0px; bottom:880px;
  padding: 0;
}

.bar li {
  height: 100%;
  width: 100px;
  border-right: 1px solid rgb(rgb(0, 0, 0));
}

.bar li a {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
}

.bar li a:hover {
  background-color: rgb(48, 47, 48);
}

.bar li a.active {
  background-color: rgb(48, 47, 48);
  color: black;
}

body {
  font-family: Arial, sans-serif;
 
  background-image: url('Background.jpg');
  
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; 
  color: #000000;
}

body {
  font-family: Arial, sans-serif;
   
  color: #ffffff;
}

header {
  
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff; 
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
}

/*Button*/

.btn {
  padding: 10px;
  font-size: 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(48, 47, 48);
  transition: box-shadow 300ms, color 300ms;
  position:fixed; left:50px; bottom:450px;
}

.btn:hover {
  color: black;
  box-shadow: 10px 10px 0 #460353;
}

/*Survey*/

* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  position:fixed; left:0px; bottom:400px;
  background-color: white
}

form {
  max-width: 400px;
}

form > div {
  margin-bottom: 20px;
}

.question {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid #c5c5c5;
    border-color: black;
    border-radius: 5px;
    background-color: purple;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: white;
}

.radio-group, select, textarea {
  margin-left: 15px;
  width: 200px;
}

textarea {
  padding: 10px;
}

.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.radio-item label {
  margin-left: 5px;
}

.radio-item input {
  margin: 0;
}

.submit-btn {
    padding: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(48, 47, 48);
    transition: box-shadow 300ms, color 300ms;
    position: fixed;
    left:50px;
    bottom:400px;
}